@page
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
    <footer class="border-top footer text-muted">

        <div class="container text-center">
            &copy; 2019 - Alexis Courtois Contoso |
            Bucks New University |
            Foundation Degree Computing |
            CO550 Web Applications
            <br />
            <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> |
            <a href="#">About</a> |
            <a href="#">Contact</a>
        </div>
    </footer>