@page
@model ACG_CoreRazorContoso.Pages.HelloModel
@{
    ViewData["Title"] = "Hello";
}

<header class="jumbotron">
<h2>CO550 Example Razor Page</h2>
<p>
    This page will prompt the user to enter their name and click on the button to
    get a hello message
</p>
</header>
<section>
 <from>
     <label>Enter your name:</label>
     <input type="text" asp-for="Name" placeholder="Please Enter Your Name" requried />
     <input type="submit" />

     <p>

         @if (this.Model.Name != null)
          {

             <span>Hello </span>@this.Model.Name
             <span>, how are you ?</span>

          }




     </p>



 </from>
</section>
